/* RMIT University Vietnam
   Course: COSC2430 Web Programming
   Semester: 2023A
   Assessment: Assignment 1
   Author: Dang Trung Kien
   ID: s3979510
   Acknowledgement: I use books' images and descriptions of 2 websites bookshop.org and amazon.com. 
                    And I also consult some coding ideas from social platforms like facebook, tiktok and codepen.*/
                    
*, *:before, *:after {
    box-sizing: border-box;
}

a {
    color: black;
    text-decoration: none;
}

body {
    font-family: 'Kurale', serif;
    margin: 0px;
    background-color: #948c96;
}

header {
    top: 0px;
    height: 125px;
    position: fixed;
    width: 100%;
    z-index: 2;
    background-color: #191826;
    box-shadow: 1px 2px 6px #191826;
}

.logo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    margin-left: 70px;
    width: 100px;
    height: 100px;
}

.nav {
    visibility: hidden;
    background-color: #181725;
    position: absolute;
    list-style: none;
    display: flex;
    flex-direction: column;
    opacity: 0;
    margin: 0;
    width: 100%;
    margin-top: -20px;
    font-size: 24px;
    padding: 20px 40px;
    gap: 25px;
}

.nav li a{
    text-align: center;
    color: #a0a0a0;
    display: block;
    border-bottom: 1.5px solid #a0a0a0;
    transition: width 5s ease;
    width: calc(100% - 10px);
    font-size: 20px;
}

li a:hover {
    color: whitesmoke;
    letter-spacing: 2.5px;
    transition: .5s ease-out;
    border-bottom: 1.5px solid white;
}

.menu-btn {
    color: #f7f2ef;
    padding-right: 55px;
    align-self: center;
    background: none;
    border: none;
    font-size: 40px;
    cursor: pointer;
    position: relative;
}

#menu-checkbox {
    display: none;
}

#menu-checkbox:checked ~ .nav {
    opacity: 1;
    visibility: visible;
    transition: 0.5s ease;
}

.intro {
    background-image: url(images/bg-image.jpg);
    height: 80vh;
    background-size: cover;
    background-position: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro h1{
    color: #d7caaa;
    font-size: 50px;
    mix-blend-mode: difference screen;
}

.intro p {
    color: #d7caaa;
    font-size: 30px;
    font-weight: 500;
    mix-blend-mode: difference color;
    filter: blur(0.3px);
}

.main {
    display: flex;
    flex-direction: column;
}

.category {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.sub-title {
    display: none;
}

.type {
    display: inline;
    color: #343434;
    letter-spacing: 2px;
    font-size: 30px;
    text-align: center;
    transition: .2s ease-out;
}

.type a {
    color: #3e3226;
}

.type a:hover{
    letter-spacing: 4px;
    transition: .3s ease;
    color: black;
}

hr {
    border: 2px solid black;
    width: 93%;
    opacity: 50%;
}

.book-hover {
    display: inline-grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-row-gap: 40px;
    justify-items: center;
    align-items: center;
}

.book {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-container {
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.img-container a {
    display: flex;
    justify-content: center;
}

.img-container img {
    border-radius: 5px;
    width: 90%;
    height: 100%;
    max-width: 300px;
    max-height: 400px;
}

.button {
    transform: translateY(100%);
    opacity: 0;
    align-self: center;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    text-align: center;
}

.text:hover {
    color: #10110b;
    transform: scale(1.1);
    outline: 2px solid #3e3226;
    box-shadow: 4px 5px 17px -4px #10110b;
}

.img-container:hover img{
    transition: .3s ease-out;
    opacity: 0.3;
    filter: blur(4px);
}

.img-container:hover .button {
    transform: translateY(0);
    transition: .3s ease-out;
    opacity: 1;
}

.img-container:hover .button .text {
    padding: 10px 30px;
    outline: 2px solid #1e1a0f;
    border-radius: 5px;
}

.book-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.book-name {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 20px;
}

footer {
    margin-top: 100px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #181725;
}

.footer-nav {
    margin-top: 50px;
    gap: 5%;
    width: 70%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.footer-nav a{
    color: #f7f2ef;
    width: fit-content;
}

.footer-social {
    margin-bottom: 25px;
    margin-top: 20px;
    width: 70%;
    font-size: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10%;
}

.footer-social a {
    color: #f7f2ef;
}

.footer-social a:hover {
    transition: .3s ease-in-out;
    transform: translate(-1px, -2px);
}

@media (max-width:550px) {
    .book .img-container {
        display: flex;
        justify-content: center;
    }
    
    .book .img-container img {
        width: 90%;
        height: 100%;
        max-width: 200px;
        max-height: 300px;
    }
}

@media (min-width: 768px) and (max-width:992px){
    .book .img-container img {
        max-height: 250px;
        width: 100%;
        height: 100%;
    }

    .book-hover {
        padding: 0 20px;
        grid-template-columns: repeat(4, minmax(0, 1fr));  
    }
}

@media (max-width:991px) {
    .logo img {
        margin-top: 13px;
    }

    .intro p {
        display: none;
    }
}

@media (min-width: 991px) {
    .type a {
        display: flex;
        justify-content: center;
    }

    .sub-title {
        display: inline;
        text-align: center;
        font-size: 50px;
    }

    .sub-title a {
        color: #21130d;
    }
    
    .book-hover {
        padding: 0 20px;
        grid-template-columns: repeat(4, minmax(0, 1fr));  
    }

    .book .img-container img {
        max-height: 467px;
        max-width: 350px;
        width: calc(100% - 10px);
        height: 100%;
    }

    .book-name {
        font-size: 25px;
    }

    .menu-btn {
        display: none;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nav {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        visibility: visible;
        opacity: 1;
        position: static;
        gap: 40px;
        margin-right: 40px;
    }
    
    .nav li a{
        font-size: 24px;
        color: #a0a0a0;
        margin-top: 20px;
        width: 100%;
        border: none;
        transition: .3s ease;
    }

    li a:hover {
        color: aliceblue;
        letter-spacing: 2px;
        transition: .3s ease-out;
        border-bottom: 2.5px solid whitesmoke;
    }   
}

@media (max-width:420px) {
    .book .img-container img {
        width: 90%;
        height: 100%;
    }

    .book-hover {
        padding: 0 20px;
        grid-template-columns: repeat(1, minmax(0, 1fr));  
    }
}